* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.header{
    padding: 1.5rem;

    text-align: center;
    font-size: 4rem;

    background-color: lightgrey;
}

.center {
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}

.stat-displays{
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

.score-display{
    display: flex;
    flex-direction: row;

    font-size: 2.5rem;
}

.score-value {
    width: 10rem;

    text-align: center;
}

.multi-display{
    display: flex;
    flex-direction: row;

    font-size: 2.5rem;
}

.multi-value {
    width: 10rem;

    text-align: center;
}


.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
}

.typing-input {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;

    width: 100%;

    text-align: center;
    font-size: 3rem;

    transition: background-color 0.2s ease;
}

.auto-input {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;

    width: 40%;

    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;

    transition: background-color 0.2s ease;
}

.green-background {
    background-color: #b6fcb6;
}

.goal-display{
    display: flex;
    flex-direction: row;

    gap: 1rem;

    font-size: 2.5rem;
}

.goal-value {
    width: 3rem;

    border: 2px solid black;

    text-align: center;
}

.upgrades{
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

.upgrade {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: .7rem;
    border: 2px solid black;

    font-size: 1.5rem;
}

.upgrade-name {
    text-align: center;
}

.upgrade-cost, .upgrade-key, .upgrade-owned {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: .7rem;
}

.unavailable{
    display: none;
}

.footer {
    padding: .5rem;

    text-align: center;
    font-size: 1.5rem;

    background-color: lightgrey;
}